<div class="d-flex justify-content-center">
	<div style="min-width: 300px; width: 30%;">
		<div class="d-flex justify-content-center m-5">
			<img alt="OSS logo" src="/views/media/oss.30b6553d.svg" style="height:50px">
			<h1 class="ms-3" style="font-family: 'Poppins', sans-serif; font-weight: 600; color: #2F80ED">
				Miniyotas
			</h1>
		</div>
		{{>tabs}}
		{{#if (isLink link "contributors") }}
			{{>contributors}}
		{{/if}}
		{{#if (isLink link "shop") }}
			{{>shop}}
		{{/if}}
	</div>
</div>
