<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    {{#if (isLink link "contributors")}}
      <a class="nav-link active" href="/contributors">Contributors</a>
    {{else}}
      <a class="nav-link" href="/contributors">Contributors</a>
	{{/if}}
  </li>
  <li class="nav-item">
    {{#if (isLink link "shop")}}
      <a class="nav-link active" href="/shop">Shop</a>
    {{else}}
      <a class="nav-link" href="/shop">Shop</a>
	{{/if}}
  </li>
  <li class="nav-item">
    {{#if (or (isLink link "issues") (isLink link "issues/repo"))}}
      <a class="nav-link active" href="/issues">Issues</a>
    {{else}}
      <a class="nav-link" href="/issues">Issues</a>
    {{/if}}
  </li>
</ul>
